/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.circular_progress {
	width: 100px;
	height: 100px;
	background: none;
	position: relative;
  }
  
  .circular_progress::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .circular_progress>span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
  }
  
  .circular_progress .circular_progress-left {
	left: 0;
	.circular_ball{
		top: 97%;
	}
  }
  .circular_ball{
	width: 6px;
    height: 6px;
    background-color: $black;
    display: block;

    border-radius: 10px;

	position: absolute;
   
  }
  
  .circular_progress .circular_progress-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 2px;
	border-style: solid;
	position: absolute;
	top: 0;
	border-color: #8ac566!important;
  }
  
  .circular_progress .circular_progress-left .circular_progress-bar {
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
	transition: all 2s ease;
  }
  
  .circular_progress .circular_progress-right {
	right: 0;
	.circular_ball{
		top: -3%;
    	right: 0;
	}
  }
  
  .circular_progress .circular_progress-right .circular_progress-bar {
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
	transition: all 2s ease;
  }
  
  .circular_progress .circular_progress-value {
	position: absolute;
	top: 0;
	left: 0;
	h4{
		font-weight: 400;
		margin-top: -15px;
	}
	span{
		position: absolute;
		top: 55%;
		font-size: 12px;
	}
  }

  .pie_chart_wrapper{
	  @include mq("md"){
		  margin-right: 15px;
		  &.last--div{
            margin-right: 0px;
        }
	  }
	  @include mq("md","max"){
			margin-bottom: 15px;
		}
	  h6{
		text-align: center;
		padding-top: 15px;
	  }
	  .chart_description{
		 font-size: 0.7rem;
		 &.disabled{
			 color: #b5b5b5;
		 }
	  }
	  .chart_description_container{
		  border-top: 1px solid #b5b5b5;
		  padding: 10px;
	  }
	  .chart_wrapper{
		  padding: 15px;
	  }
  }
 